<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Planner</title>
  </head>

  <body>
    <main>
      <h1>Travel Planner</h1>
      <!-- FORM -->
      <div class="container">
        <form
          id="form"
          onsubmit="return Client.handleSubmit(event)"
          method="POST"
        >
          <div>
            <label for="city">City:</label>
            <input
              id="city"
              type="text"
              name="city"
              placeholder="Enter City"
              required
            />
          </div>
          <div>
            <label for="start-date">Start Date:</label>
            <input
              id="start-date"
              type="date"
              name="start-date"
              placeholder="Enter Start Date"
              required
            />
          </div>
          <div>
            <label for="end-date">End Date:</label>
            <input
              id="end-date"
              type="date"
              name="end-date"
              placeholder="Enter End Date"
              required
            />
          </div>
          <button type="submit">Submit</button>
        </form>
      </div>
      <!-- OUTPUT -->
      <div id="flightData">
        <h2 id="rDays"></h2>
        <p class="city-name"></p>
        <p class="temp"></p>
        <p class="max-temp"></p>
        <p class="min-temp"></p>
        <p class="weather"></p>
        <p class="trip-length"></p>
        <div class="city-pic"></div>
      </div>
    </main>
    <!-- <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker
            .register("/service-worker.js")
            .then((registration) => {
              console.log(
                "Service Worker registered with scope:",
                registration.scope
              );
            })
            .catch((error) => {
              console.error("Service Worker registration failed:", error);
            });
        });
      }
    </script> -->
  </body>
</html>
