<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Planner</title>
  </head>

  <body>
    <main>
      <h1>Travel Planner</h1>
      <!-- FORM -->
      <form id="form">
        <div>
          <label for="city">City:</label>
          <input id="city" type="text" name="city" placeholder="Enter City" />
          <div id="city-error"></div>
        </div>
        <div>
          <label for="start-date">Departing Date:</label>
          <input
            id="start-date"
            type="date"
            name="start-date"
            placeholder="Enter Start Date"
          />
          <div id="start-date-error"></div>
        </div>
        <div>
          <label for="end-date">End Date:</label>
          <input
            id="end-date"
            type="date"
            name="end-date"
            placeholder="Enter End Date"
          />
          <div id="end-date-error"></div>
        </div>
        <button type="submit">Add Trip</button>
      </form>
      <!-- TRIP INFO -->
      <div id="trip-data"></div>
      <!-- SAVED TRIPS -->
      <div id="saved-trips-container"></div>
    </main>
  </body>
</html>
